#editor,
#preview {
  line-height: 1rem;
  height: 100vh;
  overflow-y: auto;
}

#editor {
  resize: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
}

#preview {
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.75);
}
